* {
    margin: 0;
    color: #000000;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

.link {
     width: 100%;  
     height: 100%; 
}

main, footer, header {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-image: url("../img/hat.png");
    background-position: center center;
    background-size: cover;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    padding-top: 50px;
}

body {
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    margin: 0 auto;
    font-family: Monospace;
    font-size: 1.4em;
    line-height: 1.6em;
    
}

body #nav{
    position: fixed;
    width: 100%;
    visibility: visible;
    /*display:block;*/
}

body #navbottom{
    position: fixed;
    width: 100%;
    visibility: hidden;
    /*display:none;*/
}

audio {
    position: fixed;
    top: 53px;
    right: 5%;
    width: 300px;
}

main {
    display: flex;
}

article {
    padding: 2% 8% 0% 8%;
     background: linear-gradient( #87153a, white);
}

.column {
    background-color: rgba(185, 178, 178, 0.36);
}

.cavs {
    text-shadow: 6px -2px 7px white;
}

#news {
    text-shadow: 5px 5px 5px white;
     font-size: 3em;
        line-height: 1.2em;  
}

.face{
    width: 50%;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid black;
    color: #ddd;
}

table {
    background: #8B0000;
    border-collapse: collapse;
    width: 100%;
    border-color: grey;
}

.characteristic{
    text-align: center;
}

article div {
    width: 100%;
    text-align: center;
}

article h1, h2, h3, form {
    text-align: center;
}

article img {
    display: block;
    width: 100%;
}

#basic-addon1, #basic-addon2 {
    width: 45px;
}

#comment {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 78px;
    width: 100%;
    max-width: 800px;
    text-align: left;
}

video {
    width: 800px;
}

iframe {
   width: 100%;
   height: 450px;
   margin: 0 auto;
   border: 0;
}

#myCarousel img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.container-carousel {
    max-width: 900px;
    margin: 0 auto;
}

aside{
    /*max-width: 18%;*/
    width: 18%;
    min-width: 17%;
    background: linear-gradient( #87153a, white);
}

aside img {
    display: block;
    width: 100%;
}

aside h1 {
    text-align: center;
}

aside div {
    width: 100%;
}

footer .image {
    text-align: left;
}

.clock{
        margin-bottom: 0;
         text-align: center;
        background: #d6c6c7;
        font-size: 2em;
        line-height: 1.2em;    
}

#toTop {
     bottom: 10%;
    right: 9px;
    width: 60px;
    display:none;
    position:fixed;
}

.instagram {
    position: fixed;
    bottom: 23%;
    right: 25px;
    width: 30px;
}

.facebook {
    position: fixed;
    bottom: 30%;
    right: 25px;
    width: 30px;
}

.youtube {
    position: fixed;
    bottom: 37%;
    right: 25px;
    width: 30px;
}
