main {
    display: flex;
}
main aside {
    min-width: 20%;
} 

@media screen and (max-width: 720px) {
    body {
        background: linear-gradient( #d2282e, white);
        margin-bottom: 80px;
        margin-top: 30px;
    }
    
   header {
    background-image: url("../hat.jpg");
    height: 100px;
}

    header h1 {
        font-size: 5rem;
    }
    
    .width {
        width: 100%;
    }
    
    article {
        padding: 0;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
    }
    
    .face{
        width: 100%;
    }
    
    .header{
    width: 100%;
    margin: 0;
}
/* Remove margins and padding from the list, and add a black background color */
iframe{
    width: 100%;
}


.images{
    width: 100%;
}
    
    article div {
       flex-basis: 100%;
    }
    
    aside h1 {
       flex-basis: 100%;
    }
    
    aside div {
        flex-basis: 50%;
    }
   
    main {
        flex-wrap: wrap;
    }
    
    main article {
        order: 2;
        background: none;
    }
    
    main nav {
        order: 1;
    }
    
    main aside {
        order: 2;
    }
    
    
    audio{
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
    }
    
    video{
        width: 100%;
    }
    
    
    
    #toTop {
    width: 70px;
    display:none;
  position: fixed;
        bottom: 10px;
        right: 4px;
}

    
    .instagram {
        bottom: 14%;
        right: 20px;
        width: 40px;
    }
    
    .facebook {
        bottom: 22%;
        right: 20px;
        width: 40px;
    }
    .youtube {
        bottom: 30%;
        right: 20px;
        width: 40px;
    }

    ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: center;
    display: inline-block;
  }
  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
        left: 0;
        height: 70px;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

ul.topnav.responsive { position: fixed;
        bottom: 0;
        left: 0;
        background: #d2282e;
        font-size: 0.85em;
        line-height: 0.8em;
        height: 250px;
        width: 100%;}
        
  ul.topnav.responsive li.icon {
   position: fixed;
        bottom: 0;
        margin: 0;
        float: center;
        height: 30px;
        /*width: 100%;*/
 
  }
  ul.topnav.responsive li {
      position: relative;
        bottom: 0;
        left: 0;
        background: #d2282e;
        font-size: 1em;
        line-height: 0.4em;
        height: 50px;
        width: 100%;
        padding: 0;
    margin: 0;
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px 0;
    margin: 0;
    display: block;
    text-align: center;
  }
  ul.topnav li a {
       
        padding: 25px 0;
        margin: 0 60px;

  }
  
}

@media screen and (max-width: 420px) {
    article{
        flex-basis: 100%;
    }

    aside div {
        flex-basis: 100%;
    }
    
    ul.topnav.responsive li {
        bottom: 0;
        padding: 24px 0px;
        margin: 0 0px;
        
  }
  
    ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: -15px;
}
ul.topnav.responsive li a {
       
        padding: 23px 0;
margin: 0;
  }
  ul.topnav.responsive {
height: 220px;
}
}
 


  

